body {
  font-family: arial, cursive;
  background: rgb(35, 37, 37);
}
h1 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  color: rgb(235, 212, 13);
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.li {
  margin-right: 2em;
}
a {
  color: rgb(235, 139, 13);
}
a:hover {
  box-shadow: 0 2px 0 0 rgb(235, 139, 13);
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li {
  display: inline-block;
  font-size: 20px;
}

/* Partie personnages */

#affiche {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 5fr, 5fr);
  gap: 15px;
}
.personnage {
  display: flex;
  align-items: center;
  border: 2px solid black;
  background: rgb(231, 233, 233);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
}
strong {
  color: rgb(235, 139, 13);
}
#affichePlanete {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 5fr);
  gap: 15px;
}
.species {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid black;
  background: rgb(231, 233, 233);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
}

/* Partie vaisseau */

#afficheVaisseau {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 300px;
  gap: 20px;
}
.starship {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background: rgb(231, 233, 233);
  padding: 5px;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
}
.starship h2 {
  text-align: center;
}
.img {
  display: flex;
  justify-content: center;
}
img {
  width: 65%;
  height: 35em;
}
/* Partie espèces */

#afficheEspece {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 4fr);
  gap: 15px;
}
.espece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(231, 233, 233);
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
  width: 90%;
}

/* Partie véhicules */

#afficheCar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 4fr);
  gap: 15px;
}
.vehi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(231, 233, 233);
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
  width: 90%;
}
